@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../Open Sans/Open-Sans-normal-300.eot);
  src: local('Open Sans'), url(../Open Sans/Open-Sans-normal-300.ttf) format('truetype'), url(../Open Sans/Open-Sans-normal-300.svg#OpenSans) format('svg'), url(../Open Sans/Open-Sans-normal-300.woff) format('woff'), url(../Open Sans/Open-Sans-normal-300.woff2) format('woff2'), url(../Open Sans/Open-Sans-normal-300.eot?#iefix) format('embedded-opentype');
}

