@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(../Oswald/Oswald-normal-300.eot);
  src: local('Oswald'), url(../Oswald/Oswald-normal-300.woff) format('woff'), url(../Oswald/Oswald-normal-300.svg#Oswald) format('svg'), url(../Oswald/Oswald-normal-300.woff2) format('woff2'), url(../Oswald/Oswald-normal-300.ttf) format('truetype'), url(../Oswald/Oswald-normal-300.eot?#iefix) format('embedded-opentype');
}

