body {
  font-family: open sans,sans-serif;
}

/* TEXT */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: oswald,sans-serif;
}
.h5, h5 {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #2C3E50;
}
.main-content>h4 {
  color: #3093CC;
}
.main-content>.page-title {
  color: #3093CC;
}


/* CARD */
.card {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.card .card-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2c3e50;
}

/* SIDEBAR */
.sidebar-dark .sidebar .sidebar-body {
background: #2C3E50;
border-right: 1px solid #2C3E50;
}
.sidebar-dark .sidebar .sidebar-header {
  background: #2C3E50;
  border-bottom: 1px solid #2C3E50;
  border-right: 1px solid #2C3E50;
}
.sidebar .sidebar-body .sidebar-nav .nav-item.mm-active>.nav-link:before {
  background: #9CCBE6;
}
.sidebar .sidebar-body .sidebar-nav.sub-menu .nav-item .nav-link:hover:before {
    border: 1px solid #9CCBE6;
    background: #9CCBE6;
}
.sidebar .sidebar-body .sidebar-nav .nav-item.mm-active>.nav-link .link-icon {
  color: #9CCBE6;
}
.sidebar-dark .sidebar .sidebar-body .sidebar-nav .nav-item.mm-active>.nav-link .link-title, .sidebar-dark .sidebar .sidebar-body .sidebar-nav .nav-item:hover>.nav-link .link-title {
  color: #9CCBE6;
}
.sidebar .sidebar-body .sidebar-nav .nav-item:hover .nav-link .link-icon {
  color: #9CCBE6;    
}
.sidebar-dark .sidebar .sidebar-body .sidebar-nav .nav-item .nav-link {
  color: #fcfafa;
}
.sidebar-dark .sidebar .sidebar-body .sidebar-nav .nav-item.mm-active>.nav-link, .sidebar-dark .sidebar .sidebar-body .sidebar-nav .nav-item:hover>.nav-link {
  color: #9CCBE6;
}
.sidebar .sidebar-body .sidebar-nav.sub-menu .nav-item .nav-link.mm-active:before {
  border: 1px solid #9CCBE6;
  background: #9CCBE6;
}
.badge-primary {
  background-color: #3093CC;
}
.sidebar .sidebar-body .sidebar-nav .nav-item.nav-category {
  font-family: oswald,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}


/* BUTTONS */
.btn, .fc .fc-button, .swal2-modal .swal2-actions button {
  border-radius: 0;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active:not(:disabled):not(.disabled).active, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active:not(:disabled):not(.disabled):active, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .show>.dropdown-toggle.fc-button.fc-button-active, .show>.btn-primary.dropdown-toggle, .swal2-modal .swal2-actions .show>button.dropdown-toggle.swal2-confirm, .swal2-modal .swal2-actions button.swal2-confirm:not(:disabled):not(.disabled).active, .swal2-modal .swal2-actions button.swal2-confirm:not(:disabled):not(.disabled):active {
  background-color: #3093CC;
  border-color: #3093CC;
}
.btn, .fc .fc-button, .swal2-modal .swal2-actions button {
  font-family: oswald,sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.btn-success {
  background-color: #44B83C;
  border-color: #44B83C;
}
.btn-danger, .swal2-modal .swal2-actions button.swal2-cancel {
  background-color: #D11E1E;
  border-color: #D11E1E;
}
.btn-warning {
  background-color: #F7C701;
  border-color: #F7C701;
}
.btn-group-lg>.btn, .btn-lg, .fc .btn-group-lg>.fc-button, .swal2-modal .swal2-actions .btn-group-lg>button {
  border-radius: 0;
}
.btn-group-sm>.btn, .btn-sm, .fc .btn-group-sm>.fc-button, .swal2-modal .swal2-actions .btn-group-sm>button {
  border-radius: 0;
}
.btn-primary, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active, .swal2-modal .swal2-actions button.swal2-confirm {
  background-color: #3093CC;
  border-color: #3093CC;
}
.btn-primary:hover, .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active:hover, .swal2-modal .swal2-actions button.swal2-confirm:hover {
  background-color: #24709b;
  border-color: #24709b;
}

/* INPUTS */
.dataTable-wrapper .dataTable-top .dataTable-search .dataTable-input, .form-control, .ng-select .ng-select-container, select {
  border-radius: 0;
}